@charset "UTF-8";
/* CSS Document */

html{
	font-size: 16px;
}

body {
	font-family: 'Titillium Web', 'Roboto', 'Georgia', sans-serif;
}

.brand-logo {
	margin-left:260px;
}

.main {
	margin:auto;
	margin-top: 5vh;
	padding-left: 240px;
}

nav {
	padding-left: 4px;
}

.nav-wrapper{
	padding-left: 6px;
}

.wrapper {
	width:490px;
	height:83vh;
	background:white;
	margin: 16px auto;
	border-radius:12px;
	padding:8px;

	position:relative;
}

.btn-wrapper {
	text-align: center;
	margin-top:20px;
}

.material-icons.small {
	font-size:1.125rem;
}

.no-wrap {
	white-space:nowrap;
}

div.collapsible-header.black-text.collapse.no-wrap {
	padding-left:16px;
	padding-right:0px;

}

.main .title{
	padding-bottom: 8vh;
}


#tempInput{
	width: 70%;
}


@media screen and (max-width:992px){
	.brand-logo {
	margin-left:48px;
}

.main {
	margin:auto;
	margin-top:10vh;
	text-align:center;
	padding-left: 0px;
}

#title{
	line-height: 1.1;
}

.main .title {
  padding-bottom: 8vh;
}

}

@media screen and (max-width:776px){

.main {
	margin-top:5vh;
}

#title{
	line-height: 1.4;
}

.main .title {
  padding-bottom: 2vh;
}
	
}
