@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Roboto';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.brand-logo {
	margin-left:260px;
}

.main {
	margin:auto;
	margin-top: 5vh;
	padding-left: 240px;
}

nav {
	padding-left: 4px;
}

.nav-wrapper{
	padding-left: 6px;
}

.wrapper {
	width:490px;
	height:83vh;
	background:white;
	margin: 16px auto;
	border-radius:12px;
	padding:8px;

	position:relative;
}

.btn-wrapper {
	text-align: center;
	margin-top:20px;
}

.material-icons.small {
	font-size:18px;
}

.no-wrap {
	white-space:nowrap;
}

div.collapsible-header.black-text.collapse.no-wrap {
	padding-left:16px;
	padding-right:0px;

}

.main .title{
	padding-bottom: 8vh;
}


#tempInput{
	width: 70%;
}


@media screen and (max-width:992px){
	.brand-logo {
	margin-left:48px;
}

.main {
	margin:auto;
	margin-top:10vh;
	text-align:center;
	padding-left: 0px;
}

#title{
	line-height: 1.1;
}

.main .title {
  padding-bottom: 8vh;
}

}

@media screen and (max-width:776px){

.main {
	margin-top:5vh;
}

#title{
	line-height: 1.4;
}

.main .title {
  padding-bottom: 2vh;
}
	
}
