<div id="volumeConversion" class="row" ng-controller="VolumeConversion">
	<!-- Heading -->  
  <div class="title col l12 s12 center">
    <h2 id="title" class="center-align">Volume Conversion</h2>  	 		 
  </div>
  <!-- Units To Convert From -->  
  <div class="col l3 offset-l3 s6 offset-s3 center input-field">      
    <select id="unitsFrom" ng-model="unitsFrom" ng-change="checkInput();resetSelect();setExponentInput();">    
       <option value="" disabled selected>Choose your option</option> 
       <option value="{{x.mathjsLabel}}" ng-repeat="x in volumeUnits">{{x.name}}</option>   						
    </select>  	 		 
    <label for="unitsFrom">Units From:</label>
  </div>	
  <!-- Units To Convert To -->  
  <div class="col l3 s6 offset-s3 center input-field">
    <select id="unitsTo" ng-model="unitsTo" ng-change="enableInput();resetSelect();" disabled>
       <option value="{{x.mathjsLabel}}" ng-repeat="x in volumeUnits | filter:'!'+unitsFrom : true">{{x.name}}</option>   						
    </select>  	 		 
    <label for="unitsTo">Units To:</label>      
  </div>
  <!-- Numerical & Exponent Input -->  
  <div class="col l4 offset-l4 s4 offset-s4 center">
  	<div class="row">
	  	<div class="col l6 s12 center input-field">
    		<input id="coefficientInput" class="center-text form-control main-input" type="number" ng-model="coefficientInput" ng-change="checkInput();" disabled/>     
			</div>     	
	  	<div class="col l6 s12 center input-field">	    	
	    	<input id="exponentInput" class="center-text form-control main-input" type="number" ng-model="exponentInput" ng-change="checkInput();" disabled/> 
	    	<label for="exponentInput">E</label>     
			</div>  						
		</div>  	
  </div>
  <!-- Output -->  
  <div class="col l12 s12 center">
    <h2 ng-show="coefficientInput != null">{{output() | decimalFormat : decimalRange | volumeUnitsFilter}}</h2> 
  </div>
  <!-- Decimal Range Slider -->  
  <div class="col l4 offset-l4 s6 offset-s3 center">
  	<p class="range-field" ng-show="coefficientInput != null">
      <input id="decimalRange" type="range" min="0" max="10" ng-model="decimalRange"/>
      <label for="decimalRange">Decimals Places Shown: {{decimalRange}}</label> 
    </p>
  </div>  
</div>